@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("assets/css/material-dashboard.css?v=2.1.2");
@import url("assets/demo/demo.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons");

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #33b5e5;
  }

  .colorPicker input[type="radio"] {
    display: none;
  }

  .colorPicker .btn span.material-icons {    			
    opacity: 0;				
  }
  .colorPicker .btn.active span.material-icons {				
    opacity: 1;				
  }